<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<h1 style="font-family: 'Raleway', sans-serif;">The Digital Music Club </h1>
<p>Oye,</p>
<p>There is a new playlist on The Digital Music Club.  Head on over to check it out:</p>
<p><a href="http://digitalmusicclub.herokuapp.com"> Get at it!</a> </p>

Peace Out,<br>
<br>
Dave <br>

P.S. If you don't want to be a part of the mailing list, just respond to this email asking to be removed.
</body>
</html>