<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<h1 style="color:hotpink; font-family: 'Raleway', sans-serif;">The Digital Music Club </h1>
<p>Oye Mate,</p>
<p>There is a new playlist on The Digital Music Club.  Head on over to check it out</p>
<p><a href="http://digitalmusicclub.herokuapp"> The Digital Music Club</a> </p>

Peace Out,<br>
<br>
Dave <br>


</body>
</html>