<nav class="main-nav" id="main-nav">
  <span class="Pl-title">  </span>

  <div class="player-here">
    <object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="260" height="95%" name="gsPlaylist" class="gsPlaylist" id="gsPlaylist">
      <param name="wmode" value="window"/>
      <param name="allowScriptAccess" value="always"/>
      <param name="flashvars" value=/>
    </object>
  </div>
</nav>
</object>

<div class="page-wrap">

  <header class="main-header">


    <h1><span> Digital Music Club </span></h1>
  </header>

<% @playlists.each do |playlist| %>
  <div class="content">
    <a href="#main-nav" class="open-menu" id="open-menu" data-source="<%= playlist.source %>" data-title="<%= playlist.name %>">
      <img src='<%= playlist.picture %>'/>
      Show me that sweet music player</a>
    <a href="#" class="close-menu">
      <img src='<%= playlist.picture %>'/>
      Ok, hide that shit </a>
<%end  %>
  </div>

</div>