<div class="container">
  <div class="title">Digital Music Club</div>
  <div class="subtitle"> Coming + Soon + ish</div>
  <div class="subtitle"><%= link_to "Give Good Playlist", new_playlist_path %></div>

</div>

<div class="tracks">
  <iframe src="http://toma.hk/p/tVt2222M?embed=true" width="550" height="430" scrolling="no" frameborder="0" allowtransparency="true" ></iframe>
</div>

