<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<h1 style="color:hotpink; font-family: 'Raleway', sans-serif;">Digital Music Club Playlist Submission</h1>
<p>Hey Dave,</p>
<p>There has been a new playlist submission on Digital Music Club.  Head over to your dashboard:</p>
<p><a href="http://digitalmusicclub.herokuapp.com/playlists/new"> New Playlists Dashboard</a> </p>

Peace Out,<br>
<br>
DMC Robot<br>

<img src="https://ci3.googleusercontent.com/proxy/VpegfqjoL2f5AXjtqX1ZBEHH5NDvbaF6oMLD-417eev7sRcpKXQt37DhD-h8QeZ8MH1gEH8p_b6EG7B_Rjt5wSD013y0qi1H9hWIl7S4_v6kGIwm=s0-d-e1-ft#//cdn2.hubspot.net/hub/219394/file-1223052365-gif/200.gif?t=1412963236520">
</body>
</html>