//song form
.new-playlist-wrapper{
a:visited{
  text-decoration: none;
}
}

.playlist-form{
  width: 50%;
  margin-bottom: 3em;
}

.manage-users{
  background-color: #ff6666;
  padding: .5em;
  margin-left: 1em;
  color:white;
  a:visited{
    color:white;
  }
}
.playlist-link{
  float:right;
}
.song-form {
  margin-left: 1em;
  width: 50%;
  float: left;
}

.submissions {
  float: right;
  width: 50%;
  table{
    width: 100%;
    td{
      border: 2px solid gray;
      padding: .5em;
    }
  }
}
