.submission-form{
  margin-left: 2em;
  width: 50%;
  float: left;
}

.submission-text{
  margin-left: 2em;

}
.example-text-wrapper{
  float:right;
  display: inline-block;
  width: 47%;

}

.example-text{
  float:left;
  margin-top: 12em;
}