<nav class="main-nav" id="main-nav">
  <object width="240" height="95%" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsPlaylist10155152231" name="gsPlaylist10155152231"><param name="movie" value="http://grooveshark.com/widget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&playlistID=101551522&p=0&bbg=141313&bth=141313&pfg=141313&lfg=141313&bt=ffffff&pbg=ffffff&pfgh=ffffff&si=ffffff&lbg=ffffff&lfgh=ffffff&sb=ffffff&bfg=666666&pbgh=666666&lbgh=666666&sbh=666666" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="250" height="95%"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&playlistID=101551522&p=0&bbg=141313&bth=141313&pfg=141313&lfg=141313&bt=ffffff&pbg=ffffff&pfgh=ffffff&si=ffffff&lbg=ffffff&lfgh=ffffff&sb=ffffff&bfg=666666&pbgh=666666&lbgh=666666&sbh=666666" /><span><a href="http://grooveshark.com/search/playlist?q=Grooveshark%20Test%20List%20%20Seth%20Musulin" title="Grooveshark Test List  by Seth Musulin on Grooveshark">Grooveshark Test List  by Seth Musulin on Grooveshark</a></span></object></object>
</nav>

<div class="page-wrap">

  <header class="main-header">


    <h1><span>Digital Music Club</span></h1>
  </header>

  <div class="content">



    <a href="#main-nav" class="open-menu">
      <img src='http://cdn.css-tricks.com/wp-content/uploads/2010/11/imagebehindtext.jpg'/>
    </a>
    <a href="#" class="close-menu">
      <img src='http://cdn.css-tricks.com/wp-content/uploads/2010/11/imagebehindtext.jpg'>
      </a>

  </div>

</div>