<!DOCTYPE html>
<html>
<head>
  <title>DigitalMusicClub</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link rel="icon" href="/favicon(1).ico" type="image/ico"/>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="site-wrapper">
  <div id="site-canvas">

    <%= yield %>

  </div>
</div>

</body>
</html>
